<title>Icecream</title>
<section id="image2">

  <div class="main">
    <div class="box1" style="text-align:center">icecream</div>
    <div class="sindanstart" style="text-align:center">
      <%= button_to "診断スタート", new_recommend_path, class: "link" %>
     </a>
    </div>
  </div>

</section>
<br><br><br>
<%= link_to "ログイン", ices_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %> 
<div class="ices-container">
  
<section id="image3">
</section>

</div>