<title>Icecream</title>
<section id="image2">

  <div class="main">
    <div class="box1" style="text-align:center">icecream</div>
    <div class="sindanstart" style="text-align:center">
      <%= link_to "診断スタート", new_recommend_path, class: "link" %>
     </a>
    </div>
  </div>

</section>
<br><br><br>
<div class="setumei" style="text-align:center">アイスを選ぶ時、沢山のアイスを目の前にしてどれを食べるのか迷いませんか。
<br>そんな悩みを解消してくれるサイトです。
<br>おすすめアイスを共有できるプラットフォームでもあります。
<br><br>まずは上のおすすめアイス診断をやってみよう！

</div>
<br><br><br>
    <div class="logoutbotan">
      <%= button_to 'logout', destroy_user_session_path, method: :delete %> 
    </div> 
<div class="ices-container">

<section id="image3">
</section>

</div>