<div class="intoro">
<section id="image6" style="text-align:center">

  <div class="sindan">
    <div class="box7" style="text-align:center">あなたにおすすめのアイスは…
    
  </div>

</div>
<div class="ice-container">
<div class="ice">
    <% if @recommend.question == "111111" %>
    <h1>もはや生キャラメルを凍らせたようなアイス</h1>
    <p>ファミマ限定・数量限定販売 &nbsp; &nbsp;税込189円&nbsp;赤城乳業</P>
    <p> 生キャラメルをそのまま食べているような濃厚な味わいが楽しめるカップアイスです。</P>
    <p>ね〜っとり、滑らかな舌触りで口の中でゆっくり溶けていく</p>
    <section id="mohaya" style="text-align:center">
    </section>

    <% elsif @recommend.question == "1112" %>
    <h1>シトラス</h1>
    <p>オレンジに似た柑橘系の果物</p>
    <p>リラックス効果がある</p>

    <% elsif @recommend.question == "1121" %>
    <h1>ローズ</h1>
    <p>華やかで上品な香り</p>
    <p>ストレスを緩和してくれる効果がある</p>

    <% elsif @recommend.question == "1122" %>
    <h1>ラベンダー</h1>
    <p>優しく女性らしい香り</p>
    <p>気持ちを落ち着かせてくれる</p>

    <% elsif @recommend.question == "1211" %>
    <h1>ジャスミン</h1>
    <p>爽やかなのに官能的な香り</p>
    <p>幸福感を得やすい</p>

    <% elsif @recommend.question == "1212" %>
    <h1>ピーチ</h1>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>

    <% elsif @recommend.question == "1221" %>
    <h1>アップル</h1>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>

    <% elsif @recommend.question == "1222" %>
    <h1>ユーカリ</h1>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>

    <% elsif @recommend.question == "2111" %>
    <h1>ローズマリー</h1>
    <p>きりりとした強めの香りが特徴的</p>
    <p>美容効果が高い</p>

    <% elsif @recommend.question == "2112" %>
    <h1>ベルガモット</h1>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>

    <% elsif @recommend.question == "2121" %>
    <h1>ムスク</h1>
    <p>雄のジャコウジカの腹部にある香嚢から抽出した香料</p>
    <p>官能的で重い香り</p>

    <% elsif @recommend.question == "2122" %>
    <h1>アンバー</h1>
    <p>マッコウクジラの結石から抽出した香料</p>
    <p>魅惑的で色気のある香り</p>

    <% elsif @recommend.question == "2211" %>
    <h1>シナモン</h1>
    <p>甘いスパイスの香り</p>
    <p>香水のアクセントとしてよく使われる</p>

    <% elsif @recommend.question == "2212" %>
    <h1>バニラ</h1>
    <p>甘くて官能的な香り</p>
    <p>上品で年齢を問わず人気が高い</p>

    <% elsif @recommend.question == "2221" %>
    <h1>イランイラン</h1>
    <p>色気のある濃厚で甘い香り</p>
    <p>恋愛に効果があり</p>

    <% elsif @recommend.question == "2222" %>
    <h1>サンダルウッド</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% end %>
</section>
</div>